<div class="container" *ngIf="streamingData">
  <div class="upper-data">
    <div class="center-container">
      <div class="search-container">
        <form #form="ngForm" (submit)="onSubmit()">
          <input class="search" type="text" placeholder="Search Title" name="title" [(ngModel)]="title">
        </form>
      </div>
      <div class="dropdown-container">
        <select class="dropdown-input" (change)="onSelectCountry($event)">
          <option class="dropdown-option" value="">Select a country</option>
          <option class="dropdown-option" *ngFor="let country of countries" [value]="country.code">{{ country.name }}
          </option>
        </select>
      </div>
    </div>
    <div class="title-container">
      <p >{{ foundTitle }}</p>
    </div>
    <img src="../assets/car_cinema.jpg">
  </div>
  <div class="bottom-data">
    <div class="streaming-data">
      <div class="streaming-row">
        <div class="streaming-item">
          <img src="../assets/hbo_max.png">
          <p>{{ isServiceAvailable('hbo') ? 'Available' : 'Unavailable' }}</p>
        </div>
        <div class="streaming-item">
          <img src="../assets/netflix.png">
          <p>{{ isServiceAvailable('netflix') ? 'Available' : 'Unavailable' }}</p>
        </div>
        <div class="streaming-item">
          <img src="../assets/hulu.png">
          <p>{{ isServiceAvailable('hulu') ? 'Available' : 'Unavailable' }}</p>
        </div>
      </div>
      <div class="streaming-row">
        <div class="streaming-item">
          <img src="../assets/prime_video.png">
          <p>{{ isServiceAvailable('prime') ? 'Available' : 'Unavailable' }}</p>
        </div>
        <div class="streaming-item">
          <img src="../assets/disney_plus.png">
          <p>{{ isServiceAvailable('disney') ? 'Available' : 'Unavailable' }}</p>
        </div>
        <div class="streaming-item">
          <img src="../assets/apple_tv.png">
          <p>{{ isServiceAvailable('apple') ? 'Available' : 'Unavailable' }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<footer>
  <span>Icons provided by: <a href="https://icons8.com/">https://icons8.com/</a></span>
</footer>
<router-outlet></router-outlet>